html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


header {
    border: 1px solid red;
    background-color: #829985;
}


main {
    border: 1px solid red;
}


footer{
    border: 1px solid red;
}


.container {
    height: 100px;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid blue;
}


.nav-list {
    border: 1px solid green;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.nav-item a {
    color: #4d2323;
    text-decoration: none;
    transition: color 0.5s;
  }

  
.nav-item a:hover {
    color: #fff;
  }


